header {
    padding: 15px 0px;
    border-bottom: 1px solid;
    nav {
        .collapse {
            ul {
                li {
                    a {
                        font-size: 20px;
                        padding: 10px 20px !important;
                        color: $main-color !important;
                        font-weight: 600 !important;
                    }
                }
            }
        }
    }
}